/* CSS files add styling rules to your content */

body {
  font-family: "Calibre", sans-serif;
  padding-right: 200px;
  padding-left: 200px;
  
  margin: 3em;
  text-align: center;
  background: #f4f4f4;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-style: normal;
  font-family: "Calibre", sans-serif;
  font-weight: 500;
}

p {
  font-style: normal;
  font-family: "Calibre", sans-serif;

}




.header img {
  float: left;
  width: 10%;
  
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.section{
  padding-top: 96px;
  padding-bottom: 140px;
}

.column {
  float: center;
  width: 100%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  p
}
