/* CSS files add styling rules to your content */

body {
  
  padding-right: 50px;
  padding-left: 160px;
  
  margin: 3em;
  text-align: center;
  background: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.body img{
  width: 50%;
  padding-bottom: 50px;
}


.header img {
  float: left;
  width: 60%;
  padding-bottom: 30px;
  
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.section{
  padding-top: 96px;
  padding-bottom: 20px;
}

.card {
  padding-right: 30px;
    padding-left: 30px;
  
    
}

.column {
  float: left;
  width: 50%;
  padding-bottom: 50px;
  padding-right: 50px;
}
.column2 {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  padding-right: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .column {
    width: 25%;
  }
  .column2 {
    width: 25%;
  }
}
  @media screen and (max-width: 800px) {
  ul. li.right, 
  ul. li {float: none;}
}

box-sizing: content-box;
width: 100%;